---
layout: default
title:
description:
excerpt:
permalink: /work
hero:
  image: 
  callout:
    alt: "Our work"
    text: <!--Key themes in government we're addressing.-->
  link:
    text: Link to more about that priority
    href: /link/
  content: 

---
<div class="">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-row grid-gap flex-align-start">
                <main class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}" id="main-content">
                    {% include work.html %}
                </main>
            </div>
        </div>
    </div>
</div>